

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&family=Timmana&display=swap');

html{
    /* background: black; */
    background: var(--c-2);

    font-size: clamp(1rem, -2rem + 6.25vw, 2rem);


    --c-m1: rgb(234, 51, 244);
    --c-m2: rgb(74, 118, 240);
    --c-m3: rgb(243, 234, 80);



    font-family: 'Timmana', sans-serif;
    /* font-family: 'Lato', sans-serif; */
    font-weight: 800;


    --c-1: rgb(7, 0, 11);
    --c-2: rgb(26, 0, 31);
}



h1{
    font-size: 4em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

h4{
    font-size: 1em;
}

h5{
    font-size: .83em;
}

h6{
    font-size: .67em;
}

p{
    font-size: .5em;
}
