---
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

export interface Layout {}

---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/un_farbe.svg" />
		<script src="https://kit.fontawesome.com/19f211fabc.js" crossorigin="anonymous"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>

        <title>munterfel.</title>

		<style>
			html{
				--blue: blue;
				--purple: purple;
				--yellow: yellow;
			}

		</style>
	</head>
</html>




