---
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

export interface Layout {}
import Footer from "../components/Footer.astro"
import "../styles/main.css"

const {background, footer} = Astro.props


---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/un_farbe.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Timmana&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/19f211fabc.js" crossorigin="anonymous"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>

        <title>munterfel.</title>


	</head>

	<body>
		{background && 
			<div class="background_wrapper">
				<div class="background"></div>
				<div class="blur"></div>
			</div>
		}


		<div class="main_wrapper">
			<main>
				<slot/>
			</main>
			
			{footer && <Footer></Footer>}

		</div>
	</body>

	<style>
		.main_wrapper{
			min-height: 100vh;
			min-height: 100dvh;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.background_wrapper{
			height: 100%;
			width: 100%;
			position: fixed;
			top: 0;
		}

		.background{
			height: 100%;
			width: 100%;
			position: absolute;
			z-index: -10;
			opacity: 0.7;
			background: radial-gradient(circle at 20% 0%, var(--c-m3), var(--c-m2) 15% 17%, var(--c-m1), var(--c-2) 20%, var(--c-1), var(--c-m3) 140%);
		}

		.blur{
			height: 100%;
			width: 100%;
			position: absolute;
			z-index: -9;
			background-color: rgba(0, 0, 0, 0.117);
			backdrop-filter: blur(120px);
			z-index: 0;
		}
	</style>
</html>




