---
const today = new Date();
import Socials from '../components/Socials.astro'
---

<footer>
	<Socials></Socials>
	<p>munterfel@gmail.com</p>
	<p>&copy; {today.getFullYear()} munterfel. All rights reserved.</p>
</footer>

<style>
	footer{
		background: black;
		padding: 1em;
	}

	footer > *{
		margin: 1.5em 0;
	}
</style>