---


import json from '../data/gigs.json';
let gigs = json.gigs;
gigs.sort((a, b) => Date.parse(b.date) - Date.parse(a.date))

---


<ul>
    {gigs.map((e) => <li>{`${e.venue} | ${e.city} | ${e.date}`}</li>)}
</ul>
