---
const { class: applyClass, cl } = Astro.props
const message = "hello there"
---

<div class={applyClass}>
    <img src="un_farbe.svg" alt="munterfel logo">
    <!-- {visible ? <p>Show me!</p> : <p>Else show me!</p>} -->
</div>

<script define:vars={{cl}}>
    console.log(typeof cl)
</script>