---

---

<div>
    <a href="https://www.instagram.com/munterfel/">
        <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="https://open.spotify.com/artist/0dSkorqvTwqtBTmTzFOqo6?si=bPc3xxYITKG-7mchZQqNhQ">
        <i class="fa-brands fa-spotify"></i>
    </a>
    <a href="https://music.apple.com/de/artist/munterfel/">
        <i class="fa-brands fa-itunes"></i>
    </a>
    <a href="https://www.youtube.com/@munterfel.8845">
        <i class="fa-brands fa-youtube"></i>
    </a>
    <a href="mailto:munterfel@gmail.com">
        <i class="fa-regular fa-envelope"></i>
    </a>
    <a href="https://heylink.me/munterfel/">
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
    </a>


</div>

<style>
    *{
        position: relative;
    }

    a i{
        transition: transform ease 0.5s;
    }

    a:hover i{
        transform: scale(1.4);
    }

    .fa-arrow-up-right-from-square{
        scale: 0.9;
    }
</style>